*{
	box-sizing: border-box;
}
body{
	 width: 100%;
	 margin: 0px 0px 0px 0px; /* top right bouttom left */
	 padding: 0px 0px 0px 0px; /* top right bouttom left */
	font-family: 'Terminal Dosis', Arial, sans-serif;
	font-family: 'Terminal Dosis', Arial, sans-serif;
}

/***** Modified Bootatrap Class *****/
.panel-heading{
	background-color: #222222;
	color: #DADADA;
	
}
.panel{
	border: 1px solid #222222;
	background-color: transparent;
}

/***** Navbar *****/
.navbar-modify{
	height: 80px;
}
.header_imag{
	width: 80px;
	height: 60px;
	margin: -5px 0px 0px 0px; 
	padding: 0px 0px 0px 0px; 
}
.name{
	margin: 10px 0px 0px 0px;
}
.degination{
	margin: 0px 0px 0px 0px; 
	padding: 45px 0px 0px 0px; 
	font: normal normal normal 14px/1 FontAwesome;
	position: absolute;
	left:122px;
}
.menu{
	margin: 0px 0px 0px 0px; 
	padding: 15px 0px 0px 0px; 
}
.icon{
	margin: 0px 0px 0px 0px; 
	padding: 15px 0px 0px 0px;
}

/***** Home *****/
#home{
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px 0px; 
	/***** Background Image *****/
	background-image: url("images/home_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/***** Background Image *****/
	height: 750px;
	width: 100%;
}
.img_medisys{
	padding: 0px 0px 0px 0px;
    margin: 238px 0px 0px -14px;
    height: 370px;
    width: 540px;
}
.img_ocjp{
	padding: 0px 0px 0px 0px;
    margin: 42px -15px 0px 0px;
    height: 100px;
    width: 170px;
    float: right;
}

/***** About *****/
.about{
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	
}
/***** About Discription*****/
.about_dis{
	width: 100%;
	padding: 25px 50px 25px 50px;
}
.about_dis P{
	color: #222222;
	font-size: 13px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: normal;
	text-align: justify;
	
}
/***** Experience*****/
.experience{
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.experience_dis{
	width: 100%;
	padding: 25px 50px 25px 50px;
	color: #222222;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: normal;
	text-align: left;
	font-size: 11px;
}


/***** Certification*****/
.certification{
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.certification_dis{
	width: 100%;
	padding: 25px 50px 25px 50px;
	color: #222222;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: normal;
	text-align: left;

}


/***** Academic*****/
.academic{
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	/***** Background Image *****/
	background-image: url("images/profetional_04.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/***** Background Image *****/
}
.academic_dis{
	width: 100%;
	padding: 25px 50px 25px 50px;
	color: #222222;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: normal;
}

/***** Contact *****/
.contact_well{
	background-color: #222222;
	height: 75px;
}
.contact_well p{
	float: left;
	padding: 30px 0px 0px 0px; 
	margin: 0px 35px 0px 27px; 
	color: #DADADA;
	font: normal normal normal 14px/1 FontAwesome;
}