*{
	box-sizing: border-box;
}
body{
	width: 100%;
	margin: 0px 0px 0px 0px; /* top right bouttom left */
	padding: 0px 0px 0px 0px; /* top right bouttom left */
	font-family: 'Terminal Dosis', Arial, sans-serif;
	font-family: 'Terminal Dosis', Arial, sans-serif;
}

/***** Modified Bootatrap Class *****/
.panel-heading{
	background-color: #222222;
	color: #DADADA;
	
}
.panel{
	border: 1px solid #222222;
	background-color: transparent;
}

/***** Topics Heading *****/
.topic_heading{
	background-color: #222222;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    height: 40px;
    text-align: center;
	color: #DADADA;
	font-size: 15px;
}

/***** Navbar *****/
.navbar-modify{
	height: 80px;
	width: 100%;
}
.header_imag{
	width: 80px;
	height: 60px;
	margin: -5px 0px 0px 0px; 
	padding: 0px 0px 0px 0px; 
}
.name{
	margin: 10px 0px 0px 0px;
}
.degination{
	margin: 0px 0px 0px 0px; 
	padding: 45px 0px 0px 0px; 
	font: normal normal normal 14px/1 FontAwesome;
	position: absolute;
	left:122px;
}
.menu{
	margin: 0px 0px 0px 0px; 
	padding: 15px 0px 0px 0px; 
}
.icon{
	margin: 0px 0px 0px 0px; 
	padding: 15px 0px 0px 0px;
}

/***** Home *****/
#home{
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px 0px;
	/***** Background Image *****/
	background-image: url("images/home_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/***** Background Image *****/
	height: 750px;
	width: 100%;
	float: left;
}
.img_medisys{
	padding: 0px 0px 0px 0px;
    margin: 238px 0px 0px -14px;
    height: 370px;
    width: 540px;
}
.img_ocjp{
	padding: 0px 0px 0px 0px;
    margin: 42px -15px 0px 0px;
    height: 100px;
    width: 170px;
    float: right;
}

/***** About *****/
.about{
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	/***** Background Image *****/
	background-image: url("images/about_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/***** Background Image *****/
	float: left;
}

/***** About Discription *****/
.about_dis{
	width: 100%;
	padding: 0px 0px 0px 0px;
	background-color: #776040;
	float: left;
}
.about_dis_img{
	height: 200px;
	width: 15%;
	float: left;
}
.about_dis_p{
	float: left;
	color: #222222;
	font-size: 13px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: normal;
	text-align: justify;
	width: 85%;
	margin: 0px 0px 0px 0px;
    padding: 15px 15px 0px 15px;
	
}

/***** Experience *****/
.experience{
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #776040;
	float: left;
}
.experience .well{
	padding: 0px 0px 0px 0px;
	margin: 10px 0px 10px 0px;
	background-color: #878986;
}
.experience_dis{
	width: 100%;
	padding: 25px 50px 25px 50px;
	color: #222222;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: normal;
	text-align: left;
	font-size: 11px;
}

/***** Certification *****/
.certification{
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float: left;
}
.certification_dis{
	width: 100%;
	padding: 25px 50px 25px 50px;
	color: cornsilk;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: normal;
	text-align: left;

}

/***** Academic *****/
.academic{
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float: left;
	
}
.academic_dis{
	width: 100%;
	padding: 25px 50px 25px 50px;
	color: cornsilk;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: normal;
}

/***** Protfolio *****/
.protfolio{
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #776040;
	float: left;
}
.protfolio_dis{
	width: 100%;
	padding: 25px 50px 25px 50px;
	margin: 0px 0px 0px 0px;

}
.protfolio_dis .well{
	background-color: #878986;
}
.protfolio_dis .well:hover{
	border: 2px solid white;
}
.protfolio_dis_application{
	font-size: 20px;
    float: left;
    padding: 10px 0px 0px 0px;
}
.protfolio_dis_profile{
	font-size: 11px;
    padding: 5px 0px 0px 0px;
}
.protfolio_dis_app_dis{
	font-size: 14px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.protfolio_icons{
	padding: 10px 0px 0px 0px;
}
.protfolio_icons li{
	text-align: left;
    padding: 0px 0px 0px 30px;
}

/***** Contact *****/
.contact_well{
	background-color: #222222;
	width: 100%;
	float: left;
}
.contact_well p{
	float: left;
    padding: 0px 0px 0px 0px;
    margin: 20px 35px 20px 28px;
    color: #DADADA;
    font: normal normal normal 14px/1 FontAwesome;
}

/************** Media Query ********************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 436px) {
	
	
	
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 410px) {
	.name{
		margin: -43px 0px 0px 88px;
		font-size: 15px;
	}
	.degination{
		margin: 0px 0px 0px -18px;
		padding: 38px 0px 0px 0px;
		font: normal normal normal 14px/1 FontAwesome;
		position: absolute;
		left: 122px;
	}
	.about{
		float: left;
	}
	.experience{
		float: left;
	}

	.home{
		height: 400px;
	}
	.navbar-right{
		background-color: #222222;
	}
	.img_medisys{
		height: 100px;
		width: 100px;
		margin: 455px 0px 0px 30px;
		padding: 0px 0px 0px 0px;
	}
	.img_ocjp{
		margin: 94px -15px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	.about_dis_img{
		height: 300px;
		width: 100%;
		float: left;
	}
	.about_dis_p{
		float: left;
		color: #222222;
		font-size: 13px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-style: normal;
		text-align: justify;
		width: 100%;
		margin: 0px 0px 0px 0px;
		padding: 15px 15px 0px 15px;
		
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
}
@media only screen and (min-width: 1575px) {
	
}