*{
	box-sizing: border-box;
}
body{
	 width: 100%;
    /* background-image: url("../images/b2.jpg");
    background-size: cover; */
	font-family: 'Terminal Dosis', Arial, sans-serif;
	font-family: 'Terminal Dosis', Arial, sans-serif;
}
.navbar-modify{
	height: 80px;
}
.header_imag{
	width: 80px;
	height: 60px;
	margin: -5px 0px 0px 0px; /* top right bouttom left */
	padding: 0px 0px 0px 0px; /* top right bouttom left */
}
.name{
	margin: 10px 0px 0px 0px;
}
.degination{
	margin: 0px 0px 0px 0px; /* top right bouttom left */
	padding: 45px 0px 0px 0px; /* top right bouttom left */
	/* background-color: #222222; */
	/* float:none; */
	position: absolute;
	left:122px;
}
.menu{
	margin: 0px 0px 0px 0px; /* top right bouttom left */
	padding: 15px 0px 0px 0px; /* top right bouttom left */
}
.icon{
	margin: 0px 0px 0px 0px; /* top right bouttom left */
	padding: 15px 0px 0px 0px; /* top right bouttom left */
	/* color:red;
	background-color:red; */
}

#home{
	padding: 51px 0px 0px 0px; /* top right bouttom left */
	margin: 0px 0px 0px 0px; /* top right bouttom left */
}