*{
	box-sizing: border-box; margin: 0px 0px 0px 0px; /* top right bouttom left */ padding: 0px 0px 0px 0px; /* top right bouttom left */ 
}
body{
	width: 100%; font-family: 'Terminal Dosis', Arial, sans-serif; font-family: 'Terminal Dosis', Arial, sans-serif;
}

/***** Modified Bootatrap Class *****/
.panel-heading{
	background-color: #222222;
	color: #DADADA;
}
.panel{
    background-color: transparent;
    border-radius: 0px;
}


/***** Navbar *****/
.navbar-modify{
	height: 80px;
	width: 100%;
}
.name{
    font-size: 25px;
    margin-top: 5px;
    font-family: fantasy;
}
.degination{
	padding-top: 45px;
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 16px;
    font-size: 15px;
    font-family: cursive;
}
.icon{
	padding-top: 15px;
}


/***** Content *****/
.content-container{
    width: 100%;
	height: auto;
	background-color: #222222;
	margin: 80px 0px 0px 0px; 
	padding: 0px 0px 0px 0px; 
}
.content-left{
	width: 30%;
    height: auto;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 15px 15px 15px 15px;
    border-top: 8px solid white;
    border-radius: 100px;
    border-left: 15px solid red;
    border-bottom: 8px solid white;
}
.content-left img{
	width: 100%;
	height: 580px;
	border-top: 8px solid white;
    border-radius: 100px;
}
.content-right{
	width: 70%;
	height: auto;
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.content-menu{
	float: left;
	width: 10%;
	height: 580px;
	margin: 0px 0px 0px 0px;
	padding: 140px 25px 100px 25px;
}
.content-menu ul{
	list-style-type: none;
}
.content-menu ul li{
	padding-top: 20px;
}
.content{
	float: left;
	width: 90%;
	height: auto;
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
}


/***** Home Discription *****/
.home_dis{
	width: 100%;
	padding-top: 215px;
}
.home_dis_p{
	font-size: 13px;
    font-style: normal;
    text-align: justify;
    font-family: monospace;
    color: floralwhite;
}

/***** Experience *****/
.experience{
	width: 100%;
	padding-top: 170px;
}
.experience .well{
	padding: 0px 0px 0px 0px;
	margin: 10px 0px 10px 0px;
	border: 0px;
	border-radius: 0px;
}
.experience_dis{
	width: 100%;
    padding: 25px 50px 25px 50px;
    color: floralwhite;
    font-style: normal;
    text-align: left;
    font-size: 11px;
    background-color: #222222;
	font-family: cursive;
}

/***** Certification *****/
.certification{
	width: 100%;
	padding-top: 75px;
}
.certification_dis{
	width: 100%;
	padding: 25px 50px 25px 50px;
	color: cornsilk;
	font-style: normal;
	text-align: left;
	font-family: cursive;
}

/***** Academic *****/
.academic{
	width: 100%;
	padding-top: 175px;
}
.academic_dis{
	width: 100%;
	padding: 25px 50px 25px 50px;
	color: cornsilk;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: normal;
	font-family: cursive;
}

/***** Protfolio *****/
.protfolio{
	width: 100%;
}
.protfolio_dis{
	width: 100%;
	padding: 25px 50px 25px 50px;
	margin: 0px 0px 0px 0px;
	font-family: cursive;
}
.protfolio_dis .well{
	background-color: #878986;
}
.protfolio_dis .well:hover{
	border: 2px solid white;
}
.protfolio_dis_application{
	font-size: 20px;
    float: left;
    padding: 10px 0px 0px 0px;
}
.protfolio_dis_profile{
	font-size: 11px;
    padding: 5px 0px 0px 0px;
}
.protfolio_dis_app_dis{
	font-size: 14px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.protfolio_icons{
	padding: 10px 0px 0px 0px;
}
.protfolio_icons li{
	text-align: left;
    padding: 0px 0px 0px 30px;
}

/***** CV *****/
.cv embed{
	width: 100%;
	height: 620px;
}

/***** Galary *****/
.galary{
	width: 100%;
	padding-top: 25px;
}
.galary img:hover{
	border: 1px solid white;
	border-radius: 15px;
}


/***** Contact *****/
.contact_well{
	background-color: #222222;
	width: 100%;
	float: left;
}
.contact_well p{
	float: left;
    margin: 20px 0px 20px 28px;
    color: #DADADA;
    font: normal normal normal 14px/1 FontAwesome;
    font-family: cursive;
    font-size: 15px;
}




/************** Media Query ********************/


@media only screen and (max-width: 410px) {
	
	.name{
		font-size: 20px;
		margin-top: 0px;
		font-family: fantasy;
	}
	.degination{
		padding-top: 35px;
		font: normal normal normal 14px/1 FontAwesome;
		position: absolute;
		left: 0px;
		font-size: 15px;
		font-family: cursive;
	}
	.navbar-right{
		background-color: #222222;
	}
	.content-left{
		width: 100%;
		height: auto;
		float: left;
		margin: 0px 0px 0px 0px;
		padding: 15px 15px 15px 15px;
		border-top: 8px solid white;
		border-radius: 100px;
		border-left: 15px solid red;
		border-bottom: 8px solid white;
	}
	.content-left img{
		width: 100%;
		height: 430px;
		border-top: 8px solid white;
		border-radius: 100px;
	}
	.content-right{
		width: 100%;
		height: auto;
		float: left;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	.content-menu{
		float: left;
		width: 100%;
		height: 50px;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	.content-menu ul{
		list-style-type: none;
	}
	.content-menu ul li{
		float: left;
		margin-left: 25px;
		margin-top: 10px;
	}
	.content{
		float: left;
		width: 100%;
		height: auto;
		margin: 0px 0px 0px 0px; 
		padding: 0px 0px 0px 0px;
	}
	.home_dis{
		width: 100%;
		padding-top: 50px;
	}
	.experience{
		width: 100%;
		padding-top: 0px;
	}
	.certification{
		width: 100%;
		padding-top: 5px;
	}
	.certification_dis{
		width: 100%;
		padding: 25px 0px 0px 0px;
		color: cornsilk;
		font-style: normal;
		text-align: left;
		font-family: cursive;
		font-size: 13px;
	}
	.academic{
		width: 100%;
		padding-top: 0px;
	}
	.academic_dis{
		width: 100%;
		padding: 25px 0px 0px 0px;
		color: cornsilk;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-style: normal;
		font-family: cursive;
	}
	.protfolio{
		width: 100%;
		padding-top: 25px;
	}
	.protfolio_dis_application{
		font-size: 13px;
		float: left;
		padding: 10px 0px 0px 0px;
	}
	.protfolio_dis_profile{
		font-size: 8px;
		padding: 5px 0px 0px 0px;
	}
	.protfolio_dis_app_dis{
		font-size: 10px;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
	}
	.cv{
		padding-top: 50px;
	}
	.galary{
		width: 100%;
		padding-top: 50px;
	}
}

@media only screen and (min-width: 411px) {
	.content-left img{
		width: 100%;
		height: 320px;
		border-top: 8px solid white;
		border-radius: 100px;
	}
	.content-menu{
		float: left;
		width: 10%;
		height: 320px;
		margin: 0px 0px 0px 0px;
		padding: 15px 25px 15px 25px;
	}
	.home_dis{
		width: 100%;
		padding-top: 0px;
	}
	.experience{
		width: 100%;
		padding-top: 10px;
	}
	.certification{
		width: 100%;
		padding-top: 0px;
	}
	.certification_dis{
		width: 100%;
		padding: 25px 50px 25px 50px;
		color: cornsilk;
		font-style: normal;
		text-align: left;
		font-family: cursive;
		font-size: 13px;
	}
	.academic{
		width: 100%;
		padding-top: 12px;
	}
	.academic_dis{
		width: 100%;
		padding: 25px 5px 25px 5px;
		color: cornsilk;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-style: normal;
		font-family: cursive;
		font-size: 13px;
	}
	.cv embed{
		width: 100%;
		height: 500px;
	}
	.contact_well p{
		float: left;
		margin: 20px 0px 20px 45px;
		color: #DADADA;
		font: normal normal normal 14px/1 FontAwesome;
		font-family: cursive;
		font-size: 12px;
	}
}

@media only screen and (min-width: 800px) {
	
	.content-left img{
		width: 100%;
		height: 320px;
		border-top: 8px solid white;
		border-radius: 100px;
	}
	.content-menu{
		float: left;
		width: 10%;
		height: 320px;
		margin: 0px 0px 0px 0px;
		padding: 15px 25px 15px 25px;
	}
	.home_dis{
		width: 100%;
		padding-top: 0px;
	}
	.experience{
		width: 100%;
		padding-top: 10px;
	}
	.certification{
		width: 100%;
		padding-top: 0px;
	}
	.certification_dis{
		width: 100%;
		padding: 25px 50px 25px 50px;
		color: cornsilk;
		font-style: normal;
		text-align: left;
		font-family: cursive;
		font-size: 13px;
	}
	.academic{
		width: 100%;
		padding-top: 12px;
	}
	.academic_dis{
		width: 100%;
		padding: 25px 5px 25px 5px;
		color: cornsilk;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-style: normal;
		font-family: cursive;
		font-size: 13px;
	}
	.protfolio_dis_application{
		font-size: 13px;
		float: left;
		padding: 10px 0px 0px 0px;
	}
	.protfolio_dis_profile{
		font-size: 8px;
		padding: 5px 0px 0px 0px;
	}
	.protfolio_dis_app_dis{
		font-size: 10px;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
	}
	.cv embed{
		width: 100%;
		height: 500px;
	}
	.contact_well p{
		float: left;
		margin: 20px 0px 20px 45px;
		color: #DADADA;
		font: normal normal normal 14px/1 FontAwesome;
		font-family: cursive;
		font-size: 12px;
	}
} 

@media only screen and (min-width: 1024px) {
	
	.content-left img{
		width: 100%;
		height: 450px;
		border-top: 8px solid white;
		border-radius: 100px;
	}
	.content-menu{
		float: left;
		width: 10%;
		height: 450px;
		margin: 0px 0px 0px 0px;
		padding: 75px 25px 15px 25px;
	}
	.home_dis{
		width: 100%;
		padding-top: 105px;
	}
	.experience{
		width: 100%;
		padding-top: 80px;
	}
	.certification{
		width: 100%;
		padding-top: 15px;
	}
	.certification_dis{
		width: 100%;
		padding: 25px 50px 25px 50px;
		color: cornsilk;
		font-style: normal;
		text-align: left;
		font-family: cursive;
		font-size: 13px;
	}
	.academic{
		width: 100%;
		padding-top: 95px;
	}
	.academic_dis{
		width: 100%;
		padding: 25px 5px 25px 5px;
		color: cornsilk;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-style: normal;
		font-family: cursive;
		font-size: 13px;
	}
	.cv embed{
		width: 100%;
		height: 500px;
	}
	.contact_well p{
		float: left;
		margin: 20px 0px 20px 10px;
		color: #DADADA;
		font: normal normal normal 14px/1 FontAwesome;
		font-family: cursive;
		font-size: 10px;
	}
} 


@media only screen and (min-width: 1280px) {
	
	.content-left img{
		width: 100%;
		height: 450px;
		border-top: 8px solid white;
		border-radius: 100px;
	}
	.content-menu{
		float: left;
		width: 10%;
		height: 450px;
		margin: 0px 0px 0px 0px;
		padding: 75px 25px 15px 25px;
	}
	.home_dis{
		width: 100%;
		padding-top: 130px;
	}
	.experience{
		width: 100%;
		padding-top: 80px;
	}
	.certification{
		width: 100%;
		padding-top: 15px;
	}
	.certification_dis{
		width: 100%;
		padding: 25px 50px 25px 50px;
		color: cornsilk;
		font-style: normal;
		text-align: left;
		font-family: cursive;
		font-size: 13px;
	}
	.academic{
		width: 100%;
		padding-top: 95px;
	}
	.academic_dis{
		width: 100%;
		padding: 25px 5px 25px 5px;
		color: cornsilk;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-style: normal;
		font-family: cursive;
		font-size: 13px;
	}
	.cv embed{
		width: 100%;
		height: 500px;
	}
	.contact_well p{
		float: left;
		margin: 20px 0px 20px 22px;
		color: #DADADA;
		font: normal normal normal 14px/1 FontAwesome;
		font-family: cursive;
		font-size: 12px;
	}
} 

@media only screen and (min-width: 1360px) {
	
	.content-left img{
		width: 100%;
		height: 450px;
		border-top: 8px solid white;
		border-radius: 100px;
	}
	.content-menu{
		float: left;
		width: 10%;
		height: 450px;
		margin: 0px 0px 0px 0px;
		padding: 75px 25px 15px 25px;
	}
	.home_dis{
		width: 100%;
		padding-top: 130px;
	}
	.experience{
		width: 100%;
		padding-top: 80px;
	}
	.certification{
		width: 100%;
		padding-top: 15px;
	}
	.certification_dis{
		width: 100%;
		padding: 25px 50px 25px 50px;
		color: cornsilk;
		font-style: normal;
		text-align: left;
		font-family: cursive;
		font-size: 13px;
	}
	.academic{
		width: 100%;
		padding-top: 95px;
	}
	.academic_dis{
		width: 100%;
		padding: 25px 5px 25px 5px;
		color: cornsilk;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-style: normal;
		font-family: cursive;
		font-size: 13px;
	}
	.cv embed{
		width: 100%;
		height: 500px;
	}
	.contact_well p{
		float: left;
		margin: 20px 0px 20px 22px;
		color: #DADADA;
		font: normal normal normal 14px/1 FontAwesome;
		font-family: cursive;
		font-size: 13px;
	}
} 

@media only screen and (min-width: 1440px) {
	
	.contact_well p{
		float: left;
		margin: 20px 0px 20px 28px;
		color: #DADADA;
		font: normal normal normal 14px/1 FontAwesome;
		font-family: cursive;
		font-size: 13px;
	}
	.content-left img{
		width: 100%;
		height: 580px;
		border-top: 8px solid white;
		border-radius: 100px;
	}
	.content-menu{
		float: left;
		width: 10%;
		height: 580px;
		margin: 0px 0px 0px 0px;
		padding: 140px 25px 100px 25px;
	}
	.home_dis{
		width: 100%;
		padding-top: 215px;
	}
	.experience{
		width: 100%;
		padding-top: 170px;
	}
	.certification{
		width: 100%;
		padding-top: 75px;
	}
	.certification_dis{
		width: 100%;
		padding: 25px 50px 25px 50px;
		color: cornsilk;
		font-style: normal;
		text-align: left;
		font-family: cursive;
	}
	.academic{
		width: 100%;
		padding-top: 175px;
	}
	.academic_dis{
		width: 100%;
		padding: 25px 50px 25px 50px;
		color: cornsilk;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-style: normal;
		font-family: cursive;
	}
	.cv embed{
		width: 100%;
		height: 620px;
	}
} 

@media only screen and (min-width: 1600px) {
	
	.content-left img{
		width: 100%;
		height: 580px;
		border-top: 8px solid white;
		border-radius: 100px;
	}
	.content-menu{
		float: left;
		width: 10%;
		height: 580px;
		margin: 0px 0px 0px 0px;
		padding: 140px 25px 100px 25px;
	}
	.home_dis{
		width: 100%;
		padding-top: 215px;
	}
	.experience{
		width: 100%;
		padding-top: 170px;
	}
	.certification{
		width: 100%;
		padding-top: 75px;
	}
	.certification_dis{
		width: 100%;
		padding: 25px 50px 25px 50px;
		color: cornsilk;
		font-style: normal;
		text-align: left;
		font-family: cursive;
	}
	.academic{
		width: 100%;
		padding-top: 175px;
	}
	.academic_dis{
		width: 100%;
		padding: 25px 50px 25px 50px;
		color: cornsilk;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-style: normal;
		font-family: cursive;
	}
	.cv embed{
		width: 100%;
		height: 620px;
	}
	.contact_well p{
		float: left;
		margin: 20px 0px 20px 28px;
		color: #DADADA;
		font: normal normal normal 14px/1 FontAwesome;
		font-family: cursive;
		font-size: 15px;
	}

} 




